<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<%= hidden_field_tag 'plan', params[:plan] %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
  
  <div class="well">
    <p>You are being asked to take part in a research study. This is not a form of treatment or therapy.  It is not supposed to detect a disease or find something wrong. Your participation is voluntary            which means you can choose whether or not to participate.  If you decide to participate or not to participate there will be no loss of benefits to which you are otherwise entitled. Before you make a        decision you will need to know the purpose of the study, the possible risks and benefits of being in the study and what you will have to do if decide to participate.  The research team is going to          talk with you about the study and give you this consent document to read. You do not have to make a decision now; you can take the consent document home and share it with friends, family doctor and          family.<br><br>           
       If you do not understand what you are reading, do not sign it. Please ask the researcher to explain anything you do not understand, including any language contained in this form. If you decide to            participate, you will be asked to sign this form and a copy will be given to you. Keep this form, in it you will find contact information and answers to questions about the study. You may ask to            have this form read to you.
      </p>
  </div>
  
  <input type="checkbox" id="terms"> Terms and conditions Agreement Basic Form<br />
  <div class="actions form-group">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>