<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= hidden_field_tag 'plan', params[:plan] %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="well" id="terms_well">
      <p>You are being asked to take part in a research study. This is not a form of treatment or therapy.  It is not supposed to detect a disease or find something wrong. Your participation is voluntary          which means you can choose whether or not to participate.  If you decide to participate or not to participate there will be no loss of benefits to which you are otherwise entitled. Before you            make a decision you will need to know the purpose of the study, the possible risks and benefits of being in the study and what you will have to do if decide to participate.  The research team            is going to talk with you about the study and give you this consent document to read. You do not have to make a decision now; you can take the consent document home and share it with friends,            family doctor and family.<br /><br />           
         If you do not understand what you are reading, do not sign it. Please ask the researcher to explain anything you do not understand, including any language contained in this form. If you decide            to participate, you will be asked to sign this form and a copy will be given to you. Keep this form, in it you will find contact information and answers to questions about the study. You may ask          to have this form read to you.
      </p>
      <p><strong>What is the purpose of the study?</strong><br>
        The purpose of the study is to learn more about effective ways for teachers to manage anxiety.
        <ul>
          <li>This comparative intervention study seeks to demonstrate that an “in-vivo” or in person participation in a 4 week Mindfulness Based Stress Reduction intervention is more effective than                   receiving the intervention over 4 weeks in an online format.
          </li>
        </ul>
      </p>
      <p><strong>Why was I asked to participate in the study?</strong><br>
        You have been asked to participate because you are a teacher, the specific profession this study is investigating.  Your participation will help to identify if the interventions are effective for         teachers.        
      </p>
      <p><strong>How long will I be in the study?</strong><br>
        The study will take place over a period of 4 weeks with a 6 week follow up for final data collection.  If you are in the “in-vivo” group, you will be asked to attend a 90 minute MBSR intervention         once a week for 1 month.  During this month you will be asked to complete homework including practicing and logging meditation and practicing strategies learned during the intervention.        
      </p>
      <p><strong>Where will the study take place?</strong><br>
        The “in-vivo” interventions will take place in University of Pennsylvania, Graduate School of Education (GSE) buildings. If you are in the on-line group you can complete the MBSR program in your         home or anywhere you feel comfortable.        
      </p>
      <p><strong>What will I be asked to do?</strong><br>
        You will be asked to fill out an internet survey three times throughout the course of your staff development in which you will be participation in one of two groups:
        <ul>
          <li>If you are placed in the “in-vivo” MBSR group, during the 90 minute meetings you will: watch videos, participating in group discussion, meditate, keep logs, read articles and practice some               low impact yoga. All activities outside of the intervention are strongly encouraged; however, there is no risk of punishment or negative consequences for failure to complete any tasks.
          </li>
          <li>If you are in the on-line group you will be asked to participate in the same activities listed above in your own time over the course of one month.</li>
        </ul>
      </p>
      <p><strong>What are the risks?</strong><br>
        This is a low risk study.  As the interventions are seeking to identify effective interventions for stress reduction, participants may become emotionally distressed while exploring or discussing         difficult events.  Individuals will not be asked to proceed with any elements of the interventions that they do not feel comfortable with and full participation is voluntary.        
      </p>
      <p><strong>How will I benefit from the study?</strong><br>
        There is no guaranteed benefit to you. However, your participation could potentially help you reduce your experience of anxiety and learn new ways to manage it.  Additionally your participation           help us better understand which interventions are more effective in helping teachers reduce their anxiety.  In the future, this may help schools provide more effective support to their teachers.
      </p>
      <p><strong>What other choices do I have?</strong><br>
        Your alternative to being in the study is to not be in the study.  Not being in the study will mean that you do not participate in the data collection portion of the interventions.
      </p>
      <p><strong>What happens if I do not choose to join the research study?</strong><br>
        You may choose to join the study or you may choose not to join the study. Your participation is voluntary. <br>There is no penalty if you choose not to join the research study. You will lose no           benefits or advantages that are now coming to you, or would come to you in the future. If you are currently receiving services and you choose not to volunteer in the research study, your services         will continue.<br>           
        Your participation in the research is totally voluntary, there will be no negative consequences if you refuse to participate and it will bear no negative consequences.
      </p>
      <p><strong>When is the study over? Can I leave the study before it ends?	</strong><br>
        The study is expected to end after all participants have completed all visits and all the information has been collected. The study may be stopped without your consent for the following reasons:
        <ul>
          <li>The PI feels it is best for your safety and/or health-you will be informed of the reasons why.</li>
          <li>You have not followed the study instructions.</li>
          <li>The PI, the sponsor or the Office of Regulatory Affairs at the University of Pennsylvania can stop the study anytime.</li>
        </ul>
        You have the right to drop out of the research study at any time during your participation. There is no penalty or loss of benefits to which you are otherwise entitled if you decide to do so.             Withdrawal will not interfere with your future care.<br> 
        This is an opt-in data collection model, if you choose not to complete the computer survey at the given time, there will be no consequence to you.
      </p>
      <p><strong>How will confidentiality be maintained and my privacy be protected?</strong><br>
        We will do our best to make sure that the personal information obtained during the course of this research study will be kept private.  However, we cannot guarantee total privacy.  Your personal         information may be given out if required by law.  If information from this study is published or presented at scientific meetings, your name and other personal information will not be used.<br>    
        Every effort will be made to keep all data confidential.  As the data and consents will be collected using a secure computer system that will have password protected access, there will be limited         paper materials. All paper material will be kept within a locked cabinet, within the PI’s locked office. None of the individual data collected on the participants will be released, only aggregate         data as needed. Only the PI and the University of Pennsylvania IRB will have access to the data collected.
      </p>
      <p><strong>Electronic Medical Records and Research Results: What is an Electronic Medical Record?</strong><br>
        An Electronic Medical Record (EMR) is an electronic version of the record of your care within a health system. An EMR is simply a computerized version of a paper medical record.<br><br>
        If you are receiving care or have received care within the University of Pennsylvania Health System (UPHS) (outpatient or inpatient) and are participating in a University of Pennsylvania research         study,  results of research-related procedures (i.e. laboratory tests, imaging studies and clinical procedures) may be placed in your existing EMR maintained by UPHS.<br> 
        If you have never received care within UPHS and are participating in a University of Pennsylvania research study that uses UPHS services, an EMR will be created for you for the purpose of                 maintaining any results of procedures performed as part of this research study.  The creation of this EMR is required for your participation in this study. In order to create your EMR, the study         team will need to obtain basic information about you that would be similar to the information you would provide the first time you visit a hospital or medical facility (i.e. your name, the name           of your primary doctor, the type of insurance you have). Results of research procedures performed as part of your participation in the study (i.e. laboratory tests, imaging studies and clinical           procedures) may be placed in this EMR.<br>
        Once placed in your EMR, these results are accessible to appropriate UPHS workforce members that are not part of the research team.  Information within your EMR may also be shared with others who         are determined by UPHS to be appropriate to have access to your EMR (e.g. health insurance company, disability provider, etc.).
      </p>
      <p><strong>What happens if I am injured from being in the study?</strong><br>
        We will offer you the care needed to treat injuries directly resulting from taking part in this research.  We may bill your insurance company or other third parties, if appropriate, for the costs         of the care you get for the injury, but you may also be responsible for some of them.<br>
        There are no plans for the University of Pennsylvania to pay you or give you other compensation for the injury.  You do not give up your legal rights by signing this form.<br>  
        If you think you have been injured as a result of taking part in this research study, tell the person in charge of the research study as soon as possible.  The researcher’s name and phone number         are listed in the consent form.
      </p>
      <p><strong>Will I have to pay for anything?</strong><br>
        All necessary materials will be provided to you.
      </p>
      <p><strong>Will I be paid for being in this study?</strong><br>
        There is no compensation for your participation in this study.
      </p>
      <p><strong>Who can I call with questions, complaints or if I’m concerned about my rights as a research subject?</strong><br>
        If you have questions, concerns or complaints regarding your participation in this research study or if you have any questions about your rights as a research subject, you should speak with the           Principal Investigator listed on page one of this form.  If a member of the research team cannot be reached or you want to talk to someone other than those working on the study, you may contact           the Office of Regulatory Affairs with any question, concerns or complaints at the University of Pennsylvania by calling (215) 898-2614.
      </p>
    </div>
  
    <div class="actions form-group">
      <label class="terms" id="terms">
        <input type="checkbox" onchange='EnableSubmit(this.checked);'> I Agree to the Terms and Conditions Listed Above<br />
      </label>
      <br>
      <%= f.submit "Sign up", class: 'disabled btn btn-success', id: 'button', onclick: 'return isAgreed();' %>
    </div>    
<% end %>