<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Intervention Wellness Resource Page</h1>
    <ul class="list-unstyled">
      <li>
        <div class="well row">
          <h2 class="text-center"><%= link_to "Introduction", introduction_path %> and <%= link_to "Getting Started", gettingStarted_path %> Materials</h2>
            <div class="well text-center">
              <h4>All participants should read the intro material contained in this section before starting</h4>              
            </div>
          <!-- This is the snippit of code that can be used to enter the survey and meditation links -->
            <div class="well text-center">
              <div class="btn btn-warning">
                <a href="https://redcap.med.upenn.edu/surveys/?s=PLVYScfgXf">Take the Survey</a>
              </div>
              <div class="btn btn-warning">
                <a href="https://redcap.med.upenn.edu/surveys/?s=PLVYScfgXf">Enter your Meditation Log</a>
              </div>
          </div>
        </div>
      </li>       
      <li>
        <div class="well row">
          <h2 class="text-center">Week 1 Materials</h2>
            <div class="well text-center">
              <h4><%= link_to "Session 1.1 Materials", week_one_path %> - Simple Awareness and Introduction to the Body Scan</h4>
            </div>
            <div class="well text-center">
              <h4><%= link_to "Session 1.2 Materials", week_two_path %> - Attention & the Brain, and Introduction to Sitting Meditation</h4>
            </div>          
        </div>
      </li>
      <li>
        <div class="well row">
          <h2 class="text-center">Week 2 Materials</h2>
            <div class="well text-center">
              <h4><%= link_to "Session 2.1 Materials", week_three_path %> - Dealing with Thoughts and Introduction to Yoga 1</h4>
            </div>
            <div class="well text-center">
              <h4><%= link_to "Session 2.2 Materials", week_four_path %> - Stress: Responding vs Reacting, One-Minute Breathing Space, and Yoga 2</h4>
            </div>
        </div>
      </li>
      <li>
        <div class="well row">
          <h2 class="text-center">Week 3 Materials</h2>
            <div class="well text-center">
              <h4><%= link_to "Session 3.1 Materials", week_five_path %> - Dealing with Difficult Emotions/Sensations and RAIN (Recognize/Accept/Investigate/Non-Identify)</h4>
            </div>
            <div class="well text-center">
              <h4><%= link_to "Session 3.2 Materials", week_six_path %> - Mindfulness & Communication and Mountain & Lake Meditation</h4>
            </div>
        </div>
      </li>
      <li>
        <div class="well row">
          <h2 class="text-center">Week 4 Materials</h2>
            <div class="well text-center">
              <h4><%= link_to "Session 4.1 Materials", week_seven_path %> - Mindfulness & Compassion and Lovingkindness Meditation</h4>
            </div>
            <div class="well text-center">
              <h4><%= link_to "Session 4.2 Materials", week_eight_path %> - Conclusion and Developing a plan of your own</h4>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>