<!-- This is the Guided Practice Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Guided Mindfulness Practices</h1>
    </div>
            
      <div class="col-md-12">
      <div class="well">
        <p>The Mindfulness-Based Stress Reduction class (MBSR) includes a series of guided mindfulness practices, all of which are available to anyone, free of charge, to be listened to here or downloaded to            another device (e.g., iPod or MP3 player). These are all accessible through the menu to the left.<br><br>
           The <strong>Body Scan</strong>, <strong>Sitting Meditation</strong>, and <strong>Mindful Yoga</strong> recordings comprise the primary practices of MBSR and are each about 30 minutes in length.<br>            <br>
           The <strong>RAIN Meditation</strong> (11 min) is introduced in Week 5 of the course, the <strong>Mountain Meditation</strong> and <strong>Lake Meditations</strong> (20 min) are introduced in Week              6, and the <strong>Lovingkindness Meditation</strong> (13 min) is introduced in Week 7.<br><br>
           The <strong>Silent Meditations</strong> are provided for non-guided practice and are either 15, 20 or 30 minutes.
        </p>
        <ul>
          <li><%= link_to "Body Scan", bodyScan_path %></li>
          <li><%= link_to "Sitting Meditation", sittingMeditation_path %></li>
          <li><%= link_to "Mindful Yoga 1", mindfulYoga1_path %></li>
          <li><%= link_to "Mindful Yoga 2", mindfulYoga2_path %></li>
          <li><%= link_to "RAIN Meditation", rainMeditation_path %></li>
          <li><%= link_to "Mountain Meditation", mountainMeditation_path %></li>
          <li><%= link_to "Lake Meditation", lakeMeditation_path %></li>
          <li><%= link_to "Lovingkindness", lovingkindness_path %></li>
          <li><%= link_to "Silent Meditation", silentMeditation_path %></li>
      </div>
    </div>
  </div>
</div>